<div>
    <h2>New to SMS - Register Here!</h2>
    <form>
      <label for="username">Username:</label>&nbsp;
      <input type="text" placeholder="Username" name="username" required>&nbsp;
  
      <label for="password">Password:</label>&nbsp;
      <input type="password" placeholder="Password" name="password" required><br><br>

      <label for="rollno"> Student Roll Number:</label>&nbsp;
      <input type="number" placeholder="Student Roll number" name="roll number" required><br><br>

      <label for="name">Student Name:</label>&nbsp;
      <input type="text" placeholder="Name" Name="Student name" required><br><br>

      <label for="attempts">Number of Attempts:</label>&nbsp;
      <input type="number" placeholder="Number of attempts" name="attempts" required><br><br>

      <label for="percentage">Student Percentage:</label>&nbsp;
      <input type="number" placeholder="Student Percentage" name="percentage" required><br><br>

      <label for="subjects">Student Subjects:</label>&nbsp;
      <input type="text" placeholder="Student Subjects" name="subjects" required><br><br>
  
      <button type="submit">Register</button><br><br>
    </form>
</div>  